.dashboard {
  background: #f2f2f2;
  min-height: calc(100vh - 80px);
}
.dashboard .welcomeText {
  font-size: 24px;
  padding: 30px 0 10px;
  font-weight: 600;
  color: #333;
}

.dashboard .dashBox {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 25px;
}

.dashboard .welcomeText img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 15px;
}
.dashboard .dashInfo h4 {
  font-size: 18px;
  color: #333; /* Darker text color for better contrast */
}

.dashboard .dashInfo {
  background: #fff;
  padding: 30px;
  width: 100%;
  border-radius: 15px;
}

.dashboard .dashInfo .infoItem:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.userInfoSection {
  background: #fff;
  height: max-content;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.userInfoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

.userInfoLabel {
  font-weight: bold;
  margin-right: 10px;
  min-width: 150px;
}

.userInfoValue {
  color: #7e7e7e;
}

.dashboard .dashFormStatus,
.dashboard .dashDocStatus {
  background: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
}
