:root {
  --fontFamily: "Mulish";
  --primColor: rgb(25, 157, 229);
  --secColor: rgb(10, 64, 115);
  --accentColor: rgb(225, 244, 255);
  --textColor: "#373737";
  --backgroundColor: rgb(241, 243, 246);
}

a,
button {
  font-family: var(--fontFamily) !important;
  letter-spacing: initial !important;
}

button:focus {
  outline: 0 !important;
}

.primButton.MuiButton-root {
  color: #fff;
  border-radius: 3px;
  background-color: var(--primColor);
  border: 1px solid var(--primColor);
  transition: 200ms all ease-in-out;
  box-shadow: none;
}

.primButton.MuiButton-root.Mui-disabled {
  border-color: currentColor;
}

.primButton.MuiButton-root:hover {
  background-color: var(--primColor);
  border: 1px solid var(--primColor);
  color: #fff;
  opacity: "0.9";
  box-shadow: none;
}

.secButton.MuiButton-root {
  color: var(--primColor);
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid var(--primColor);
  transition: 200ms all ease-in-out;
  box-shadow: none;
}

.secButton.MuiButton-root.Mui-disabled {
  border-color: currentColor;
}

.secButton.MuiButton-root:hover {
  background-color: var(--primColor);
  border: 1px solid var(--primColor);
  color: #fff;
  box-shadow: none;
}

.primButton.MuiButton-root,
.secButton.MuiButton-root,
.tertButton.MuiButton-root {
  height: 50px;
}

.primButton.small.MuiButton-root,
.secButton.small.MuiButton-root,
.tertButton.small.MuiButton-root {
  height: 40px;
  min-width: max-content;
}

.primButton.large.MuiButton-root,
.secButton.large.MuiButton-root,
.tertButton.large.MuiButton-root {
  height: 60px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: rgb(25, 157, 229, 15);
}

::selection {
  color: #fff;
  background: rgb(25, 157, 229, 15);
}

.customContainer {
  padding-left: 60px !important;
  padding-right: 60px !important;
  max-width: 1600px;
  width: 100% !important;
}

.customRadio {
  margin: 10px 0;
}

.customRadio .MuiFormControl-root {
  flex-direction: row;
  align-items: center;
}

.customRadio .MuiFormLabel-root {
  margin: 0 10px 0 0;
}

.customRadio .MuiFormGroup-root {
  flex-direction: row;
}

.customRadio .MuiFormGroup-root label {
  margin: 0 10px 0 0;
}

@media (max-width: 500px) {
  .primButton.small.MuiButton-root,
  .secButton.small.MuiButton-root,
  .tertButton.small.MuiButton-root {
    height: 40px;
    font-size: 13px;
  }

  .primButton.MuiButton-root,
  .secButton.MuiButton-root,
  .tertButton.MuiButton-root {
    height: 45px;
    font-size: 14px;
  }

  .primButton.large.MuiButton-root,
  .secButton.large.MuiButton-root,
  .tertButton.large.MuiButton-root {
    height: 50px;
    font-size: 14px;
  }
  .home .homeBanner .hbLt .bannerSearch input {
    height: 50px;
  }
}
